body,html{
	padding: 0;
	margin: 0;
	background-color: #333;
}
.center{
	position: fixed;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: center;
}
h1{
	max-width: 100%;
	padding: 0;
	margin: 0;
	font-size: 50px;
	color: white;
	font-family: 'Open Sans Condensed', sans-serif;
}	